body {
  font: var(--font-m);
  color: var(--black);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--gray);
}

.page {
  display: flex;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
}