body {
  font: var(--font-m);
  color: var(--color-black);
  background-color: var(--color-primary-bg);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.linkWrapper {
  font-size: var(--font-size-xs);
  text-align: center;
  .link {
    color: var(--color-ruby-light);
  }
}

.main {
  display: flex;
  flex-grow: 1;
  gap: 20px;
  padding-top: 30px;

  > aside + * {
    padding-right: 50px;
  }

  > section {
    flex-grow: 1;
  }
}
