/* poppins-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../../shared/assets/fonts/poppins-v21-latin-regular.woff2') format('woff2');
}
/* poppins-500 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: url('../../shared/assets/fonts/poppins-v21-latin-500.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../../shared/assets/fonts/poppins-v21-latin-600.woff2') format('woff2');
}
/* poppins-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('../../shared/assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
}
/* poppins-900 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 900;
	src: url('../../shared/assets/fonts/poppins-v21-latin-900.woff2') format('woff2');
}