// titles

.section-title {
  font: var(--font-l);
  font-weight: 700;
  text-align: center;
}

// links

.linkWrapper {
  font: var(--font-xs);
  text-align: center;

  .link {
    color: var(--color-ruby-light);
  }
}