@use 'breakpoints';

// titles

.section-title {
  font: var(--font-l);
  font-weight: 700;
  text-align: center;
}

// links

.redirect-link {
  font: var(--font-xs);
  text-align: center;

  &.redirect-link--ruby {
    .link {
      color: var(--color-ruby-light);
    }
  }
  &.redirect-link--orange {
    .link {
      color: var(--color-orange-dark);
    }
  }

  .link {
    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }
  }
}

// br

.br-lg {
  display: block;

  @media (width < breakpoints.$md) {
    display: none;
  }
}
.br-md {
  display: none;

  @media (width < breakpoints.$md) {
    display: block;
  }
}


.swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
}
.swiper-cube .swiper-cube-shadow:before {
  background: none !important;
}