// titles

.section-title {
  font: var(--font-l);
  font-weight: 700;
  text-align: center;
}

// links

.redirect-link {
  font: var(--font-xs);
  text-align: center;

  &.redirect-link--ruby {
    .link {
      color: var(--color-ruby-light);
    }
  }
  &.redirect-link--orange {
    .link {
      color: var(--color-orange-dark);
    }
  }

  .link {
    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }
  }
}