@use '@app/styles/breakpoints';

.table {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;

	thead {
		font-weight: 700;
		text-align: left;

		.table__cell {
			padding-bottom: 10px;
		}
	}

	tbody {
		.table__cell {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	tr {
		border-bottom: 1px solid var(--color-neutral);

		th:first-child, td:first-child {
			@media (width < breakpoints.$lg) {
				position: sticky;
				left: 0;
				max-width: 250px;
				background-color: var(--color-primary-bg);

				&:after {
					content:'';
					position: absolute;
					top: 0;
					right: 0;
					width: 1px;
					height: 100%;
					background-color: var(--color-neutral);
				}
			}
			@media (width < breakpoints.$md) {
				max-width: 90px;
			}
		}
		th:first-child {
			@media (width < breakpoints.$lg) {
				z-index: 1;
			}
		}
	}

	&__wrapper {
		position: relative;
	}

	&__scroll {
		overflow-x: auto;
	}

	&__inner {
		width: 100%;
		min-width: 1000px;
		font: var(--font-s);
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	&__title {
		font: var(--font-xl);
		font-weight: 600;
	}

	&__cell {
		padding-left: 10px;
		padding-right: 10px;

		+ .table__cell {
			border-left: 1px solid var(--color-neutral);

			@media (width < breakpoints.$lg) {
				&:nth-child(2) {
					border-left: none;
				}
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 5px;
	}

	.btn-reset {
		color: var(--color-black);

		@media (hover: hover) {
			&:hover {
				text-decoration: underline;
      }
		}
	}
}