@use '@app/styles/breakpoints';

.status {
	display: flex;
	align-items: center;
	gap: 10px;

	&__role {
		padding: 4px 15px;
		border-radius: 5px;
		background-color: var(--color-ruby-dark);
		font: var(--font-s);
		font-weight: 500;
		color: var(--color-white);

		&:first-letter {
			text-transform: uppercase;
		}

		@media (width < breakpoints.$md) {
			margin-left: auto;
			margin-right: auto;
			padding: 2px 7px;
			font: var(--font-xs);
		}

		&.tco {
			text-transform: uppercase;
		}
	}

	&__select {
		max-width: 150px;

		@media (width < breakpoints.$md) {
			margin-left: auto;
			margin-right: auto;
		}

		select {
			padding: 4px 15px;
			border: none;
			border-radius: 5px;
			background-color: var(--color-ruby-dark);
			font-weight: 500;
			color: var(--color-white);

			@media (width < breakpoints.$md) {
				padding: 2px 7px;
				font: var(--font-xs);
			}

			option {
				color: var(--color-black);
				background-color: var(--color-secondary-bg);
			}
		}
	}
}