:root {
  // colors

  --color-white: #fff;
  --color-input-orange: #ffc750;
  --color-black: #000;
  --color-primary-bg: #f1f1f1;
  --color-secondary-bg: #f8f8f8;
  --color-neutral: #c1c1c1;
  --color-ruby-dark: #8b103e;
  --color-ruby-light: #e54051;
  --color-orange-dark: #fe912a;
  --color-orange-light: #feca5c;
  --color-orange-pastel: #ffdd95;
  --gradient-ruby: linear-gradient(90deg, var(--color-ruby-light) 0%, var(--color-ruby-dark) 100%);
  --gradient-orange: linear-gradient(90deg, var(--color-orange-light) 0%, var(--color-orange-dark) 100%);

  // fonts

  --font-family-main: 'Poppins', -apple-system, 'Ubuntu', 'Roboto', 'Fira Sans', sans-serif;

  --font-size-xxs: 10px;
  --font-line-xxs: 16px;
  --font-xxs: var(--font-size-xxs) / var(--font-line-xxs) var(--font-family-main);

  --font-size-xs: 12px;
  --font-line-xs: 18px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

  --font-size-s: 14px;
  --font-line-s: 22px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 18px;
  --font-line-l: 26px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 24px;
  --font-line-xl: 32px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  --font-size-xxl: 34px;
  --font-line-xxl: 42px;
  --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);

  // container

  --container-width: 1180px;
  --container-gap: 50px;

  // sidebar

  --sidebar-width: 230px;
}
