@use '@app/styles/breakpoints';

.nav {
	width: 100%;
	padding: 20px 30px;
	border-radius: 10px;
	background-color: var(--color-secondary-bg);
	
	@media (width < breakpoints.$md) {
		padding: 10px 15px;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 30px;

		@media (width < breakpoints.$md) {
			gap: 20px;
		}
	}
}