.progress {
	width: 100%;
	max-width: 105px;

	&__caption {
		padding-left: 10px;
		font: var(--font-s);

		.small {
			font: var(--font-xxs);
		}
	}

	&__bar {
		position: relative;
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 5px;
		margin-top: 1px;

		.bar {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 100%;
			border-radius: inherit;
		}
	}

	&.orange-light {
		.progress__bar {
			background-color: rgba(254, 202, 92, .2);

			.bar {
				background-color: var(--color-orange-light);
			}
		}
	}
	&.orange-dark {
		.progress__bar {
			background-color: rgba(254, 145, 42, .2);

			.bar {
				background-color: var(--color-orange-dark);
			}
		}
	}
	&.ruby-light {
		.progress__bar {
			background-color: rgba(229, 64, 81, .2);

			.bar {
				background-color: var(--color-ruby-light);
			}
		}
	}
	&.ruby-dark {
		.progress__bar {
			background-color: rgba(139, 16, 62, .2);

			.bar {
				background-color: var(--color-ruby-dark);
			}
		}
	}
}