@use '@app/styles/breakpoints';

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-x: hidden;

  @media (width < breakpoints.$lg) and (width > breakpoints.$md) {
    padding-top: 10px;
  }

  &.error {
    padding-top: 0;
    padding-bottom: 0;
  }
}