@use '@app/styles/breakpoints';

.head {
	display: flex;
	align-items: flex-start;
	gap: 5px 20px;

	@media (width < breakpoints.$md) {
		flex-direction: column;
	}

	&__avatar {
		@media (width < breakpoints.$md) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 5px;

		@media (width < breakpoints.$md) {
			width: 100%;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		gap: 15px;
		flex-grow: 1;

		@media (width < breakpoints.$md) {
			justify-content: center;
		}

		h2 {
			font: var(--font-xxl);
			font-weight: 500;

			@media (width < breakpoints.$lg) {
				font: var(--font-l);
			}
		}
	}

	&__status {
		display: flex;
		align-items: center;
		gap: 15px;
	}

	&__email {
		width: max-content;
		max-width: 100%;
		font: var(--font-s);
		color: var(--color-neutral);

		@media (hover: hover) {
			&:hover {
				text-decoration: underline;
				color: var(--color-black);
			}
		}
	}

	&__details {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		column-gap: 10px;
		font: var(--font-s);

		@media (width < breakpoints.$lg) {
			font: var(--font-xs);
		}
	}

	&__edit-btn {
		color: var(--color-neutral);

		@media (hover: hover) {
			&:hover {
        color: var(--color-black);
      }
		}
	}
}