@use '@app/styles/breakpoints';

.title {
	position: relative;
	padding-bottom: 10px;
	font: var(--font-l);
	font-weight: 500;

	@media (width < breakpoints.$lg) {
		padding-bottom: 5px;
		font: var(--font-s);
		font-weight: 500;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 200px;
		height: 1px;
		max-width: 100%;
		background-color: var(--color-ruby-dark);
	}

	+ * {
		margin-top: 15px;

		@media (width < breakpoints.$md) {
			margin-top: 10px;
		}
	}
}

.text {
	max-height: 150px;
	overflow-y: auto;
	flex-grow: 1;

	font-weight: 500;
	white-space: pre-wrap;

	@media (width < breakpoints.$lg) {
		font: var(--font-xs);
	}
}

.textarea {
	font-weight: 500;
}