@use '@app/styles/breakpoints';

.form {
	display: flex;
	flex-direction: column;
	gap: 25px;

	&__group {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__caption {
		display: flex;
		align-items: center;
		gap: 5px;

		p {
			font: var(--font-s);
			font-weight: 500;
		}
	}

	&__row {
		display: flex;
		align-items: flex-start;
		gap: 30px;

		@media (width < breakpoints.$md) {
			flex-direction: column;
		}
	}

	&__fields {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	&__buttons {
		position: sticky;
		bottom: 0;

		&:before {
			content: '';
			position: absolute;
			top: -20px;
			left: 50%;
			translate: -50%;
			width: calc(100% + 40px);
			height: calc(100% + 40px);
			background-color: rgba(248, 248, 248, .5);
			backdrop-filter: blur(5px);
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2px;
		border: 1px solid currentColor;
		border-radius: 50%;
		color: var(--color-neutral);

		@media (hover: hover) {
      &:hover {
        color: var(--color-black);
      }
    }
	}

	&__loader {
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		width: calc(100% + 40px);
		height: calc(100% + 40px);
	}
}