.avatar {
	max-width: 100%;
	border-radius: 50%;
	overflow: hidden;

	picture {
		display: block;
		width: 100%;
		height: 100%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
