.react-datepicker {

	&--time-only {
		border-radius:  inherit;

		.react-datepicker {
			&__time {
				border-bottom-right-radius: inherit  !important;
				border-bottom-left-radius: inherit !important;
			}
			&__time-box {
				border-bottom-right-radius: inherit !important;
				border-bottom-left-radius: inherit !important;
			}
		}
	}

	&__month-container {
		border-radius: inherit;
	}

	&__time-container {
		border-radius: inherit;
	}

	&__time-list {
		border-radius: inherit;
	}

	&__time-list-item {
		border-radius: 15px;
	}

	&__header {
		border-radius: inherit;

		&:not(.react-datepicker__header--has-time-select) {
			border-top-right-radius: inherit;
		}
	}

	&__day {

		&--in-range {
			background-color: var(--color-ruby-dark);

			&:not([aria-disabled=true]):hover {
				background-color: var(--color-ruby-light);
			}

			&.react-datepicker__day--weekend {
				color: var(--color-white);
			}
		}

		&--in-selecting-range {
			&:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
				background-color: rgba(139, 16, 32, .5);
			}

			&:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
				color: var(--color-white);
			}

			&:not([aria-disabled=true]):hover {
				background-color: var(--color-ruby-light);
			}
		}

		&--keyboard-selected {
			background-color: rgba(139, 16, 32, .5);

			&:not([aria-disabled=true]):hover {
				background-color: var(--color-ruby-light);
			}

			&.react-datepicker__day--weekend {
				color: var(--color-white);
			}
		}

		&--selected {
			background-color: var(--color-ruby-dark);

			&:not([aria-disabled=true]):hover {
				background-color: var(--color-ruby-light);
			}
		}

		&--weekend {
			color: var(--color-orange-dark);

			&.react-datepicker__day--disabled {
				color: #ccc;
			}
		}
	}

	&__close-icon::after {
		background-color: var(--color-ruby-dark);
	}
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
	background-color: var(--color-ruby-dark);

	&:hover {
		background-color: var(--color-ruby-light);
	}
}