.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	max-width: var(--sidebar-width);
	padding-left: 50px;
	background-color: transparent;
	transition: max-width 0.3s;
}