.form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  max-width: 840px;
  gap: 15px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__row {
    display: flex;
    gap: 20px;
  }

  &__preview {
    display: flex;
    gap: 10px;
  }

  &__preview-item {
    position: relative;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .btn--remove {
    position: absolute;
    top: -1px;
    right: -1px;
  }
  .btn--cancel {
    @media (hover: hover) {
      &:hover {
        color: var(--color-black);
      }
    }
  }
}



.form__image input {
  height: 60px;
  cursor: pointer;
  &::placeholder {
    text-align: center;
  }
}
.file__input {
  visibility: hidden;
}
.imagePreviewContainer {
  display: flex;
  gap: 10px;
}
.imagePreview {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  width: 94px;
  height: 87px;

}

