.form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  max-width: 840px;
  gap: 15px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__flex {
    display: flex;
    gap: 20px;
  }
}
.buttons {
  gap: 10px;
  display: flex;
  justify-content: center;
  button {
    margin: 0;
  }
}
.details__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .btnCancel {
    &:hover {
      color: var(--color-black);
    }
  }
}
.form__image input {
  height: 60px;
  cursor: pointer;
  &::placeholder {
    text-align: center;
  }
}
.file__input {
  visibility: hidden;
}
.imagePreviewContainer {
  display: flex;
  gap: 10px;
}
.imagePreview {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  width: 94px;
  height: 87px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.removeImageButton {
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: pointer;
}
