.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.canvas {
  background: #87ceeb;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.deleteModalButtons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.cancelButton {
  color: black;
  &:hover {
    color: white;
  }
}
