.shifts {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	&__container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	&__empty {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-grow: 1;

		h2 {
			font: var(--font-xl);
			font-weight: 600;
      text-align: center;
		}
	}
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}