.item {
	position: relative;
}

.link {
	display: block;
	transition: .2s ease;

	&.disabled {
		pointer-events: none;
	}

	@media (hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}
}

.btn-remove {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3px;
	border: 1px solid var(--color-neutral);
	border-radius: 5px;
	color: var(--color-input-orange);
	background-color: rgba(0, 0, 0, .5);

	@media (hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}
}