@use '@app/styles/breakpoints';

.calendar {
	position: relative;
	width: 100%;

	@media (width < breakpoints.$md) {
		overflow: hidden;
	}

	&__item {
		width: 100%;
		border-radius: 15px;
		border: 1px solid var(--color-orange-dark);
		font-family: var(--font-family-main), sans-serif;
	}

	&__icon {
		position: absolute;
		top: 2px;
		right: 2px;
	}

	&__tile {
		position: relative;
		overflow: visible !important;
		border-radius: 15px;

		&:hover {
			.tooltip {
				@media (width >= breakpoints.$md) {
					display: block;
				}
      }
		}
	}
}

.tooltip {
	display: none;
	z-index: 1;
	right: 5px;
	bottom: calc(100% - 3px);
	width: max-content;
	max-width: 300px;
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px solid #DDD;
	background-color: var(--color-secondary-bg);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
	color: var(--color-black);

	@media (width < breakpoints.$md) {
		max-width: 150px;
		font: var(--font-s);
	}

	&.show {
		@media (width < breakpoints.$md) {
			display: block;
		}
	}
}