.card {
	border-radius: 20px;
	border: 1px solid var(--color-neutral);
	background-color: var(--color-secondary-bg);

	&__head {
		position: relative;
		padding: 9px 50px;
		border-bottom: 1px solid var(--color-neutral);

		h3 {
			text-align: center;
			font-weight: 500;
			letter-spacing: .8px;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 25px;
		transform: translateY(-50%);
		color: var(--color-neutral);
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 15px 60px;
		padding: 20px 20px 30px 20px;
	}

	&.fluid {
		.card__head {
			padding: 20px 20px 0 20px;
			border: none;

			h3 {
				text-align: left;
			}
		}

		.card__content {
			padding-bottom: 20px;
		}
	}
}