@use '@app/styles/breakpoints';

.content {
	display: flex;
	flex-direction: column;
	gap: 40px;

	&__row {
		display: flex;
		gap: 40px 20px;

		@media (width < breakpoints.$md) {
			flex-direction: column;
		}
	}
}