@use '@app/styles/breakpoints';

.form {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  @media (width < breakpoints.$lg) {
    flex-direction: column;
    gap: 30px;
  }
  @media (width < breakpoints.$md) {
    gap: 15px;
  }

  &__item {
    display: grid;
    gap: 30px;
    width: 100%;

    @media (width < breakpoints.$md) {
      gap: 15px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (width < breakpoints.$md) {
      flex-direction: column;
      align-items: stretch;
      gap: inherit;
    }
  }
}

.socials {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    p {
      font: var(--font-s);
      font-weight: 500;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 5px;

    @media (width < breakpoints.$md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__select {
    max-width: 150px;

    @media (width < breakpoints.$md) {
      max-width: 100%;
    }
  }

  &__btn {
    color: var(--color-black);

    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.tooltip {
  display: grid;
  gap: 5px;
  z-index: 2;
  padding: 10px 15px;
  border: 1px solid var(--color-neutral);

  &__btn {
    font: var(--font-s);

    @media (hover: hover) {
      &:hover {
        color: var(--color-black);
        transform: scale(1.05);
      }
    }

    &:disabled {
      background-color: transparent;
      color: var(--color-neutral);

      .tooltip__icon {
        border-color: var(--color-neutral);
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--color-black);
  }
}
