@use '@app/styles/breakpoints';

.nav {
  @media (width < breakpoints.$lg) {
    position: fixed;
    z-index: 110;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100% - 60px);
    transition: transform 0.2s ease;
    transform: translateX(200vw);
  }

  .my_camp_link {
    position: relative;
  }

  .my_camp_link::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -15px;
    right: -15px;
    bottom: -5px;
    border: 2px solid var(--color-orange-dark);
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
    z-index: -1;
  }

  .my_camp_link:hover::before {
    box-shadow: 0 2px 8px var(--color-orange-dark);
  }

  &.open {
    @media (width < breakpoints.$lg) {
      transform: translateX(0);
    }
  }

  &__inner {
    @media (width < breakpoints.$lg) {
      display: grid;
      align-content: flex-start;
      gap: 25px;
      width: 100%;
      height: 100%;
      max-width: 220px;
      margin-left: auto;
      border-radius: 6px 0 0 0;
      padding: 25px 20px;
      background-color: var(--color-secondary-bg);
      box-shadow: -3px 0 10px 3px rgba(0, 0, 0, 0.5);
    }
  }

  &__list {
    display: flex;
    gap: 30px;

    @media (width < breakpoints.$xl) {
      gap: 20px;
    }
    @media (width < breakpoints.$lg) {
      flex-direction: column;
    }
    @media (width < breakpoints.$md) {
      gap: 15px;
    }
  }
}
