.input {
  border-radius: 10px;
  border: 2px solid var(--color-input-orange);
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4px);
  padding: 10px 20px;
  font-family: Poppins;
  font-size: 14px;
  width: 100%;

  &::placeholder {
    color: var(--color-neutral);
  }
  &:invalid {
    border: 2px solid var(--color-ruby-light);
  }
}
.error {
  color: var(--color-ruby-dark);
  position: absolute;
  bottom: -25px;
  left: 10px;
  font-size: var(--font-size-xs);
}
.label {
  position: relative;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  gap: 5px;
  & p {
    font-size: 14px;
    font-weight: 500;
  }
}
