.wrapper {
  max-width: 830px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  & button {
    border-radius: 40px;
    background: var(--color-neutral);
    height: 13px;
    border: none;
    width: 100%;
    &.active {
      background: var(--color-input-orange);
    }
  }
}
