@import 'breakpoints';

.details {
  display: grid;
  gap: 30px;
  width: 780px;
  max-width: 100%;

  @media (width < $lg) {
    gap: 15px;
  }

  .block-title {
    position: relative;
    padding-bottom: 10px;
    font: var(--font-l);
    font-weight: 500;

    @media (width < $lg) {
      padding-bottom: 5px;
      font: var(--font-s);
      font-weight: 500;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 200px;
      height: 1px;
      max-width: 100%;
      background-color: var(--color-ruby-dark);
    }

    + * {
      margin-top: 15px;

      @media (width < $md) {
        margin-top: 10px;
      }
    }
  }

  .text {
    max-height: 150px;
    overflow-y: auto;
    flex-grow: 1;

    font-weight: 500;
    white-space: pre-wrap;

    @media (width < $lg) {
      font: var(--font-xs);
    }
  }

  .btn {
    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  .btn-cancel {
    @media (hover: hover) {
      &:hover {
        color: var(--color-black);
      }
    }
  }

  .btn-social {
    padding: 6px;
    border: 1px solid var(--color-neutral);
    border-radius: 5px;
    color: var(--color-input-orange);
  }

  .textarea {
    height: 150px;
    font-weight: 500;
  }

  &__avatar {
    grid-row-start: 1;
    grid-row-end: 3;

    @media (width < $md) {
      grid-row-end: 2;
    }
  }

  &__head {
    display: grid;
    grid-template-columns: 125px 1fr;
    align-items: flex-start;
    gap: 10px 20px;

    @media (width < $lg) {
      grid-template-columns: 70px 1fr;
    }

    &-heading {
      display: flex;
      justify-content: space-between;
      gap: 15px;

      @media (width < $md) {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
      }
    }

    &-info {
      width: 100%;

      @media (width < $lg) {
        max-width: 300px;
      }
      @media (width < $md) {
        max-width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .email {
        font: var(--font-s);
        color: var(--color-neutral);

        @media (hover: hover) {
          &:hover {
            color: var(--color-black);
          }
        }

        + .details__head-info-row {
          margin-top: 5px;
        }
      }
    }

    &-info-row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;
    }

    &-title {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-grow: 1;

      @media (width < $md) {
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
      }

      &-icons {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      h2 {
        max-width: calc(350 * 100vw / 1280);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font: var(--font-xxl);
        font-weight: 500;

        @media (width < $lg) {
          max-width: calc(300 * 100vw / 768);
          font: var(--font-l);
        }
        @media (width < $md) {
          max-width: calc(170 * 100vw / 375);
        }
        @media (width < $xs) {
          max-width: calc(120 * 100vw / 320);
        }
      }
    }

    &-desc {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5px;

      p {
        font: var(--font-s);

        @media (width < $lg) {
          font: var(--font-xs);
        }
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 15px;

    @media (width < $lg) {
      gap: 10px;
    }
  }

  &__history {
    display: grid;
    gap: 30px;

    &-item {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      font-weight: 500;

      @media (width < $lg) {
        font: var(--font-xs);
      }

      .year {
        display: block;
        flex-shrink: 0;
        width: 100%;
        max-width: 40px;
        background-color: transparent;
        border: none;
        padding: 0;
        font-weight: 500;
        pointer-events: none;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
