@import 'breakpoints';

.user-avatar {
	position: relative;
	display: flex;
	align-items: center;
	gap: 25px;
	cursor: pointer;

	@media (width < $lg) {
		gap: 10px;
	}

	&__name {
		font: var(--font-l);
		max-width: 220px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@media (width < $lg) {
			font: var(--font-s);
		}
	}
}
