.user-avatar {
	position: relative;
	display: flex;
	align-items: center;
	gap: 25px;
	cursor: pointer;

	&__name {
		font: var(--font-l);
		font-weight: 400;
		max-width: 220px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
