@use '@app/styles/breakpoints';

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px 10px;

		@media (width < breakpoints.$md) {
      grid-template-columns: 1fr;
    }
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__caption {
		display: flex;
		align-items: center;
		gap: 5px;

		p {
			font: var(--font-s);
			font-weight: 500;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;

		@media (width < breakpoints.$md) {
			gap: 10px;
		}

		&-item-history {
			display: grid;
			grid-template-columns: 100px 1fr;
			align-items: flex-start;
			gap: 5px 10px;

			@media (width < breakpoints.$md) {
				grid-template-columns: 1fr;
			}
		}

		&-item-history-inner {
			@media (width < breakpoints.$md) {
				display: flex;
				align-items: center;
				gap: 5px;
			}
		}

		&-item-social {
			display: flex;
			align-items: center;
			gap: 5px;
		}

		&-item-tag {
			display: grid;
			grid-template-columns: 300px 1fr;
			align-items: flex-start;
			gap: 5px 10px;

			@media (width < breakpoints.$md) {
				grid-template-columns: 1fr;
			}
		}
	}

	&__btn-control {
		padding: 2px;
		color: var(--color-neutral);
		border: 1px solid currentColor;
		border-radius: 50%;

		@media (hover: hover) {
			&:hover {
				color: var(--color-black);
			}
		}
	}

	&__btn-cancel {
		@media (hover: hover) {
      &:hover {
        color: var(--color-black);
      }
    }
	}
}