@use '@app/styles/breakpoints';

.content {
	position: relative;
	padding: 40px 65px;
	border-radius: 20px;
	background: var(--color-secondary-bg);

	@media (width < breakpoints.$lg) {
		padding: 15px;
		border-radius: 10px;
	}
	@media (width < breakpoints.$md) {
		padding: 0;
		border-radius: 10px;
		background: transparent;
	}
}