.btn {
  position: fixed;
  z-index: 50;
  bottom: 80px;
  right: 20px; /* 10 x 0.25rem */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange-dark);
  border-radius: 100%;
  opacity: 0.3;
  border-width: 1px;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
}

.hidden {
  display: none;
}
