.tooltip {
	position: absolute;
	top: 100%;
	right: 5px;
	width: 180px;
	padding-top: 10px;

	&__list {
		display: grid;
		gap: 20px;
		padding: 20px;
		border-radius: 20px;
		background-color: var(--color-secondary-bg);
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 15px;
		transition: 0.2s ease-in-out;

		@media (hover: hover) {
			&:hover {
				transform: scale(1.05);
			}
		}

		&.disabled {
			pointer-events: none;
			color: var(--color-neutral);
		}

		.text {
			display: block;
			font: var(--font-s);
		}
	}

	&__btn {
		font: var(--font-s);

		@media (hover: hover) {
			&:hover {
        color: var(--color-black);
				transform: scale(1.05);
      }
		}
	}
}
