@import 'breakpoints';

.badge {
	width: max-content;
	max-width: 100%;
	padding: 2px 20px;
	border-radius: 8px;
	background: var(--gradient-orange);

	&__caption {
		font: var(--font-l);
		text-align: center;
		font-weight: 500;
		color: var(--color-white);

		@media (width < $lg) {
			font: var(--font-s);
			font-weight: 500;
		}
	}
}