@use '@app/styles/breakpoints';

.inventory {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}