@use '@app/styles/breakpoints';

.message {
  position: absolute;
  left: 10px;
  bottom: -25px;
  display: flex;
  align-items: center;
  gap: 10px;
  font: var(--font-xs);
  color: var(--color-ruby-dark);

  @media (width < breakpoints.$md) {
    left: 0;
  }
}