@import 'breakpoints';
.error {
  color: var(--color-ruby-dark);

  font-size: var(--font-size-xs);
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: -25px;
  left: 10px;
  @media (width < $md) {
    bottom: -25px;
    left: 0px;
  }
}
