@use '@app/styles/breakpoints';

.gallery {
	display: flex;
	flex-direction: column;
	gap: 10px;

	@media (width < breakpoints.$md) {
		gap: 5px;
	}

	&__main {
		max-width: 100%;
		max-height: 300px;
		flex-grow: 1;
	}

	&__thumbs {
		width: 100%;
		max-width: 100%;
		max-height: 60px;
	}

	&__item {
		height: 100%;
		border-radius: 10px;

		&.thumb {
			border-radius: 5px;
		}
	}

	&__img {
		border-radius: inherit;
		height: 100%;
	}

	&__btn-add {
		height: 100%;
		border: none !important;
	}

	&__btn-remove {
		position: absolute;
		top: 0;
		right: 0;
		background-color: var(--color-orange-pastel);
		border-radius: 0 0 0 5px;
		color: var(--color-ruby-dark);

		@media (hover: hover) {
			&:hover {
				scale: 1.1;
			}
		}
	}

	&__disabled {
		&.slide  {
			height: auto;
		}
	}
}
