@use '@app/styles/breakpoints';

.gallery {
	display: flex;
	flex-direction: column;
	gap: 10px;

	@media (width < breakpoints.$md) {
		gap: 5px;
	}

	&__main {
		max-width: 100%;
		flex-grow: 1;
	}

	&__thumbs {
		width: 100%;
		max-width: 100%;
	}

	&__item {
		height: 100%;
		border-radius: 10px;

		&.thumb {
			border-radius: 5px;
		}
	}

	&__btn-add {
		height: 100%;
	}
}