.card-item {
	display: flex;
	align-items: center;
	gap: 15px;

	&:after {
		content: '';
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 100%;
		flex-shrink: 0;
		margin-left: auto;
		background-color: var(--color-neutral);
	}

	&__name {
		max-width: calc(100% - 30px - 30px - 8px);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font: var(--font-s);
	}

	&.online {
		&:after {
			background-color: #71E938;
		}
	}
}