$gap: 15px;
$avatar-width: 30px;
$icon-width: 14px;
$name-width: calc(100% - (($gap * 2) + $avatar-width + $icon-width));

.card-item {
	display: flex;
	align-items: center;
	gap: $gap;
	cursor: pointer;
	transition: .2s ease;

	@media (hover: hover) {
		&:hover {
			transform: scale(1.05);
		}
	}

	&__name {
		max-width: $name-width;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font: var(--font-s);
	}
}