@use '@app/styles/breakpoints';

.react-calendar {

	&__tile {

		.calendar-icon {
			color: var(--color-ruby-dark);

			@media (width < breakpoints.$lg) {
				font-size: 8px;
				line-height: 14px;
			}
		}

		&--now {
			background: var(--color-ruby-light);

			.calendar-icon {
				color: var(--color-white);
			}

			&:enabled {
				&:hover, &:focus {
					background: var(--color-ruby-dark);
					color: var(--color-white);
				}
			}
		}

		&--active {
			background: var(--color-ruby-dark);

			.calendar-icon {
				color: var(--color-white);
			}

			&:enabled {
				&:hover, &:focus {
					background: var(--color-ruby-dark);
				}
			}
		}

		&--hasActive {
			background: var(--color-ruby-dark);
			color: var(--color-white);

			&:enabled:hover, &:enabled:focus {
				background: var(--color-ruby-light);
			}
		}
	}

	&__month-view {
		&__days {
			&__day {
				&--weekend {
					color: var(--color-orange-dark);
				}
			}
		}
	}

	&__navigation {
		button {
			border-radius: 15px;
		}
	}
}