@use '@app/styles/breakpoints';

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;

  @media (width < breakpoints.$xl) {
    max-width: calc(190 * 100vw / 1024);
  }
  @media (width < breakpoints.$lg) {
    max-width: 100%;
    gap: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: calc(100% - 65px);

    @media (width < breakpoints.$lg) {
      align-items: flex-start;
    }
  }

  &__camp {
    font: var(--font-xs);
    color: var(--color-neutral-dark);
  }

  &__name {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: var(--font-m);
    font-weight: 500;

    @media (width < breakpoints.$lg) {
      white-space: unset;
      overflow: auto;
      text-overflow: unset;
    }
  }
}
