.datepicker {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;

	&__caption {
		font: var(--font-s);
		font-weight: 500;

		+ * {
			margin-top: 5px;
		}
	}

	&__field {
		width: 100%;
		padding: 5px 10px;
		border: 2px solid var(--color-input-orange);
		border-radius: 10px;
		background-color: rgba(255, 255, 255, .02);
		backdrop-filter: blur(4px);
		font: var(--font-s);

		&::placeholder {
			font: var(--font-s);
			color: var(--color-neutral);
		}

		&:focus {
			outline: none;
			border-color: var(--color-ruby-dark);
		}
	}

	&__error {
		top: 50%;
		left: unset;
		right: 10px;
		translate: 0 -50%;
	}
}