@use '@app/styles/breakpoints';

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 1100px;
	max-width: 100%;

	&__inner {
		display: flex;
		gap: 20px;

		@media (width < breakpoints.$md) {
			flex-direction: column;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 20px;
	}

	&__row {
		display: flex;
		gap: 15px;

		@media (width < breakpoints.$xs) {
			flex-direction: column;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	&__btn {
		color: var(--color-neutral);

		@media (hover: hover) {
			&:hover {
				color: var(--color-black);
			}
		}
	}
}