@each $abbr, $name in ("t": "top", "r": "right", "b": "bottom", "l": "left") {
  @for $i from 1 through 100 {
    .m#{$abbr}-#{$i} {
      margin-#{$name}: 1px * $i;
    }
  }
}

.m-centred-hv {
  margin: auto;
}
.m-centred {
  margin-left: auto;
  margin-right: auto;
}
.mt-a {
  margin-top: auto;
}
.ml-a {
  margin-left: auto;
}
.mr-a {
  margin-right: auto;
}
