@use '@app/styles/breakpoints';

.invite-modal {
  width: 490px;
  max-width: 100%;
  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-neutral);
  }
  .copy__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .copy {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: var(--color-neutral);
  }
  .title {
    font: var(--font-m);
    font-weight: 500;

    + .subtitle {
      margin-top: 10px;
    }
  }
  .subtitle {
    font: var(--font-s);

    @media (width < breakpoints.$md) {
      width: 100%;
    }

    + .invite-modal__form {
      margin-top: 20px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__radio-group {
    position: relative;
    display: flex;
    gap: 15px;
  }
}
