@use '@app/styles/breakpoints';

.modal {
  width: 840px;
  max-width: 100%;
}

.details {
  display: grid;
  gap: 20px;
  width: 780px;
  max-width: 100%;

  @media (width < breakpoints.$lg) {
    gap: 15px;
  }
}
