@use '@app/styles/breakpoints';

.funnel {

	&__btn {
		@media (width < breakpoints.$xl) {
			align-self: flex-end;
		}
		@media (width < breakpoints.$lg) and (width > breakpoints.$md){
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	&__head {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;

		@media (width < breakpoints.$xl) {
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
	}
}