.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: block;
	position: relative;
	border: 3px solid;
	border-color: var(--color-orange-dark) var(--color-orange-dark) transparent transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;

	&:before,
	&:after {
		content: '';
		box-sizing: border-box;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		border: 3px solid;
		border-color: transparent transparent var(--color-ruby-dark) var(--color-ruby-dark);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		animation: rotationBack 0.5s linear infinite;
		transform-origin: center center;
	}

	&:before {
		width: 32px;
		height: 32px;
		border-color: var(--color-orange-dark) var(--color-orange-dark) transparent transparent;
		animation: rotation 1.5s linear infinite;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotationBack {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
