.tooltip {
	z-index: 10;
	width: 100vw;
	max-width: 150px;
	padding: 0;
	border-radius: 10px;
	background-color: var(--color-secondary-bg);
	border: 1px solid var(--color-white);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .15);
	color: var(--color-black);

	&__row {
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 8px 10px;

		&.fluid {
			padding-left: 0;
			padding-right: 0;
		}

		+ .tooltip__row {
			border-top: 1px solid var(--color-neutral);
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__btn {
		justify-content: flex-start;
		gap: 5px;
		padding-left: 10px;
		padding-right: 10px;

		@media (hover: hover) {
			&:hover {
				background-color: var(--color-black);
			}
		}
	}

	&__caption {
		font: var(--font-xs);
		font-weight: 600;

		+ .tooltip__flex, + .tooltip__column {
			margin-top: 5px;
		}
	}

	&__flex {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 5px;
	}
}