@import 'breakpoints';

.header {
	padding-top: 30px;
}

.logo {
	display: block;
	width: 100%;
	max-width: 144px;

	&__link {
		display: block;

		svg, path {
			display: block;
			width: 100%;
		}
	}
}

.page {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow-x: hidden;

	@media (width < $lg) and (width > $md) {
		padding-top: 10px;
	}

	&.error {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.overview {
	flex-grow: 1;

	+ .register {
		margin-top: 140px;

		@media (width < $md) {
			margin-top: 100px;
		}
	}
}

.register {
	&__inner {
		display: grid;
		gap: 25px;
		padding: 50px 115px;
		background-color: var(--color-secondary-bg);
		border: 1px solid #D2D2D2;
		border-radius: 20px;
		box-shadow: 0 2px 60px 0 rgba(0, 0, 0, .1);
		
		@media (width < $xl) {
			padding-left: 30px;
			padding-right: 30px;
		}
		@media (width < $lg) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		@media (width < $md) {
			padding: 20px 15px;
			gap: 20px;
		}
	}
}

