@import 'breakpoints';

.form {
	display: grid;
	gap: 30px;

	@media (width < $md) {
		gap: 15px;
	}

	&__row {
		display: flex;
		align-items: center;
		gap: 20px;

		@media (width < $md) {
			flex-direction: column;
			align-items: stretch;
			gap: inherit;
		}
	}
}