@use '@app/styles/breakpoints';

.details {
	display: flex;
	gap: 20px;
	width: 1100px;
	max-width: 100%;

	@media (width < breakpoints.$md) {
		flex-direction: column;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 15px;
		flex-grow: 1;
	}

	&__title {
		font: var(--font-xxl);
	}

	&__desc {
		font: var(--font-xs);
	}

	&__badges {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;
	}

	&__control {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 15px;
		margin-top: auto;
	}

	&__btn {
		color: var(--color-neutral);

		@media (hover: hover) {
			&:hover {
				color: var(--color-black);
			}
		}
	}
}