@use '@app/styles/breakpoints';

.table {

	&__cell {
		&.role {
			width: 120px;

			@media (width <= breakpoints.$xxl) {
				width: 110px;
			}
		}
		&.birthday {
			width: 110px;
		}
		&.date {
			width: 130px;

			@media (width <= breakpoints.$xxl) {
				width: 110px;
			}
		}
		&.city {
			@media (width > breakpoints.$xxl) {
				width: 180px;
			}
		}
		&.socials {
			width: 110px;

			@media (width > breakpoints.$xxl) {
				width: 180px;
			}
		}
		&.tags {
			min-width: 200px;

			@media (width < breakpoints.$xs) {
				min-width: 140px;
			}
		}
		&.email {
			@media (width > breakpoints.$xxl) {
				width: 220px;
			}
		}
		&.name {
			min-width: 200px;

			@media (width < breakpoints.$lg) {
				min-width: 140px;
			}
			@media (width < breakpoints.$xs) {
				min-width: 100px;
			}
		}
		&.playa {
			@media (width > breakpoints.$xxl) {
				width: 200px;
			}
		}
	}

	&__row {
		display: flex;
		align-items: center;
		gap: 5px;

		&:not(&.center) {
			justify-content: space-between;
		}

		&.center {
			justify-content: center;
		}
		&.wrap {
			flex-wrap: wrap;

			@media (hover: hover) {
				.table__actions {
					opacity: 0;
					visibility: hidden;
					transition: opacity 0.2s ease, visibility 0.2s ease;
				}

				&:hover .table__actions {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__link {
		@media (hover: hover) {
			&:hover {
        text-decoration: underline;
      }
		}
	}

	&__tags {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}

	&__camper-name {
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
        text-decoration: underline;
      }
		}
	}

	&__btn {
		padding: 2px;
		border-radius: 50%;
	}
}