@use '@app/styles/breakpoints';

.table {

	&__cell {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 5px;
		max-width: 200px;

		&.name {
			min-width: 160px;

			@media (width < breakpoints.$lg) {
				min-width: unset;
			}
		}
	}

	&__link {
		@media (hover: hover) {
			&:hover {
        text-decoration: underline;
      }
		}
	}

	&__camper-name {
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
        text-decoration: underline;
      }
		}
	}

	&__socials {
		max-width: 110px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 5px;
	}

	&__buttons {
		display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
		margin-left: auto;
	}

	&__btn {
		padding: 2px;
		border-radius: 50%;
	}
}