.select {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	color: var(--color-black);

	&:active {
		border-color: var(--color-black);
	}

	&.default {
		color: var(--color-neutral);
	}

	option {
		color: var(--color-black);

		&:disabled {
			color: var(--color-neutral);
		}
	}

	&__caption {
		font: var(--font-s);
		font-weight: 500;
	}

	&__wrapper {
		position: relative;
		width: 100%;

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 50%;
			right: 10px;
			translate: 0 -50%;
			display: block;
			width: 15px;
			height: 15px;
			background-image: url('@shared/assets/icons/clear-sort_icon.svg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	&__field {
		position: relative;
		display: block;
		width: 100%;
		-webkit-appearance: none;
		appearance: none;
		padding: 10px 20px;
		border-radius: 10px;
		border: 2px solid var(--color-input-orange);
		background-color: rgba(255, 255, 255, .02);
		backdrop-filter: blur(4px);
		cursor: pointer;
		font: var(--font-s);
		color: var(--color-black);
		outline: none;

		&:focus {
			outline: none;
			border-color: var(--color-ruby-dark);
		}

		&:disabled {
			color: var(--color-neutral);
		}
	}
}