@use '@app/styles/breakpoints';

.head {
	display: grid;
	grid-template-columns: 125px 1fr;
	align-items: flex-start;
	gap: 5px 20px;

	@media (width < breakpoints.$lg) {
		grid-template-columns: 70px 1fr;
	}

	.btn {
		@media (hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.btn-social {
		padding: 6px;
		border: 1px solid var(--color-neutral);
		border-radius: 5px;
		color: var(--color-input-orange);
	}

	&__avatar {
		grid-row-start: 1;
		grid-row-end: 3;

		@media (width < breakpoints.$md) {
			grid-row-end: 2;
		}
	}

	&__heading {
		display: flex;
		justify-content: space-between;
		gap: 15px;

		@media (width < breakpoints.$md) {
			flex-direction: column;
			align-items: flex-end;
			gap: 10px;
		}
	}

	&__icons {
		display: flex;
		align-items: center;
		gap: 15px;
	}

	&__title {
		display: flex;
		align-items: center;
		gap: 15px;
		flex-grow: 1;

		@media (width < breakpoints.$md) {
			flex-direction: column;
			align-items: flex-end;
			gap: 5px;
		}

		h2 {
			max-width: calc(350 * 100vw / 1280);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font: var(--font-xxl);
			font-weight: 500;

			@media (width < breakpoints.$lg) {
				max-width: calc(300 * 100vw / 768);
				font: var(--font-l);
			}
			@media (width < breakpoints.$md) {
				max-width: calc(170 * 100vw / 375);
			}
			@media (width < breakpoints.$xs) {
				max-width: calc(120 * 100vw / 320);
			}
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		gap: 15px;

		@media (width < breakpoints.$lg) {
			gap: 10px;
		}
	}

	&__info {
		width: 100%;

		@media (width < breakpoints.$lg) {
			max-width: 300px;
		}
		@media (width < breakpoints.$md) {
			max-width: 100%;
			grid-column-start: 1;
			grid-column-end: 3;
		}

		.email {
			font: var(--font-s);
			color: var(--color-neutral);

			@media (hover: hover) {
				&:hover {
					color: var(--color-black);
				}
			}

			+ .details__head-desc {
				margin-top: 5px;
			}
		}

		&-inner {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 5px;
			width: 100%;
			max-width: 500px;

			p {
				font: var(--font-s);

				@media (width < breakpoints.$lg) {
					font: var(--font-xs);
				}
			}
		}
	}
}