@use '@app/styles/breakpoints';

.preview {
	display: grid;
	grid-template-columns: repeat(auto-fit, 90px);
	gap: 10px;

	@media (width < breakpoints.$sm) {
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

	&__item {
		position: relative;
		height: 65px;
	}

	&__pdf {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		border: 1px solid var(--color-orange-light);
		color: var(--color-ruby-dark);
	}

	&__btn-remove {
		position: absolute;
		top: 0;
		right: 0;
		background-color: var(--color-orange-pastel);
		border-radius: 0 0 0 5px;
		color: var(--color-ruby-dark);

		@media (hover: hover) {
			&:hover {
				scale: 1.1;
			}
		}
	}
}