@import 'breakpoints';

.form {
	display: grid;
	gap: 25px;
	width: 100%;
	max-width: 400px;

	@media (width < $lg) {
		max-width: 320px;
		gap: 20px;
	}
	@media (width < $md) {
		max-width: 100%;
	}
}

.btn {
	font: var(--font-s);
	font-weight: 600;

	@media (width < $md) {
		font: var(--font-xs);
		font-weight: 600;
	}
}

.link {
	font: var(--font-xs);
	color: var(--color-ruby-light);

	@media (hover:hover) {
		&:hover {
			text-decoration: underline;
			text-underline-offset: 2px;
		}
	}
}

