@import 'breakpoints';

.form {
	display: grid;
	gap: 25px;
	width: 100%;
	max-width: 400px;

	@media (width < $lg) {
		max-width: 320px;
		gap: 20px;
	}
}

.btn {
	font: var(--font-s);
	font-weight: 600;

	@media (width < $md) {
		font: var(--font-xs);
		font-weight: 600;
	}
}

