@import 'breakpoints';

.inventoryCategories {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  gap: 15px;
  .title {
    text-transform: uppercase;
  }
  & .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    @media (width < $xxl) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (width < $xl) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (width < $md) {
      grid-template-columns: 1fr;
    }
  }
}
