@import 'breakpoints';

.inventoryCategories {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  gap: 15px;
  .title {
    text-transform: uppercase;
  }
  & .cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
  }
}
.templateGridNormal {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.16fr));
}
