@import 'breakpoints';

.inventoryCategories {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  gap: 15px;
  .title {
    text-transform: uppercase;
  }
  & .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 25px;
  }
}
