@use '@app/styles/breakpoints';

.funnel {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 780px;
	display: grid;
	gap: 15px;
	padding-top: 50px;

	@media (width < breakpoints.$lg) {
		max-width: 346px;
		padding-bottom: 20px;
		gap: 21px;
	}
	@media (width < breakpoints.$xs) {
		padding-top: 35px;
		padding-bottom: 10px;
		gap: 17px;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 20%;
		background-image: url('@shared/assets/images/funnel/funnel.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 312px;
		height: 278px;

		@media (width < breakpoints.$lg) {
			left: unset;
			right: 0;
			width: 240px;
			height: 214px;
		}
		@media (width < breakpoints.$xs) {
			width: 204px;
			height: 178px;
		}
	}

	&__item {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		&:nth-child(2) {
			padding-left: 30px;
			padding-right: 30px;

			@media (width < breakpoints.$lg) {
				padding-left: 24px;
				padding-right: 0;
			}
			@media (width < breakpoints.$xs) {
				padding-left: 15px;
			}
		}
		&:nth-child(3) {
			padding-left: 60px;
			padding-right: 60px;

			@media (width < breakpoints.$lg) {
				padding-left: 48px;
				padding-right: 0;
			}
			@media (width < breakpoints.$xs) {
				padding-left: 30px;
			}
		}
		&:nth-child(4) {
			padding-left: 90px;
			padding-right: 90px;

			@media (width < breakpoints.$lg) {
				padding-left: 72px;
				padding-right: 0;
			}
			@media (width < breakpoints.$xs) {
				padding-left: 45px;
			}
		}
	}

	&__tooltip {
		width: 100%;
		max-width: 250px;

		@media (width < breakpoints.$lg) {
			position: absolute;
			z-index: -10;
			top: calc(100% + 5px);
			padding: 10px;
			border-radius: 10px;
			background-color: var(--color-secondary-bg);
			opacity: 0;
			visibility: hidden;
		}
		@media (width < breakpoints.$xs) {
			max-width: 200px;
		}

		&.show {
			z-index: 10;
			opacity: 1;
			visibility: visible;
		}

		.text {
			font: var(--font-xxs);
		}
	}
}