name: MERGED TO MAIN

on:
  push:
    branches:
    - main

jobs:
  deploy-to-dev:
    uses: bmcrm/bmcrm/.github/workflows/deploy.yaml@main
    with:
      env: dev
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
